<a href="https://colab.research.google.com/github/AnouskaJ/FlightReservationSystem/blob/main/FlightReservationSystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%load_ext sql

In [ ]:
%%sql
sqlite:///FLIGHT.db

'Connected: @FLIGHT.db'

In [ ]:
import sqlite3
 
conn = sqlite3.connect('FLIGHT.db')

In [ ]:
conn.execute(''' 
CREATE TABLE FLIGHT_DETAILS(flight_id CHAR(5) NOT NULL PRIMARY KEY, airline VARCHAR(15) from_location VARCHAR(15), to_location VARCHAR(15),
capacity INTEGER, departure_time TIME, arrival_time TIME, economy_price FLOAT, business_price FLOAT);''')
conn.commit()
print("FLIGHT_DETAILS Table created.");

FLIGHT_DETAILS Table created.

In [ ]:
conn.execute('''
CREATE TABLE AIRPORT_DETAILS(airport_id CHAR(3), aiport_location VARCHAR(15), flight_id CHAR(5), 
FOREIGN KEY(flight_id) REFERENCES FLIGHT_DETAILS(flight_id) ON DELETE CASCADE ON UPDATE CASCADE, PRIMARY KEY(airport_id, flight_id));''')
conn.commit()
print("AIRPORT_DETAILS Table created.");

AIRPORT_DETAILS Table created.

In [ ]:
conn.execute('''
CREATE TABLE LOGIN_DETAILS(customer_id CHAR(5) NOT NULL PRIMARY KEY, customer_name VARCHAR(25), customer_phone CHAR(10) UNIQUE, customer_password VARCHAR(15));''')
conn.commit()
print("LOGIN_DETAILS Table created.");

LOGIN_DETAILS Table created.

In [ ]:
conn.execute('''
CREATE TABLE SEATING_DETAILS(seat_type VARCHAR(10) PRIMARY KEY, luggage_limit VARCHAR(5), cancellation_charge FLOAT, meal_provided VARCHAR(5));
''')
conn.commit()
print("SEATING_DETAILS Table created.");

SEATING_DETAILS Table created.

In [ ]:
conn.execute('''
CREATE TABLE BOOKING_DETAILS(booking_id CHAR(5) NOT NULL PRIMARY KEY, booking_date DATE, customer_id CHAR(5), passenger_count INTEGER, 
flight_id CHAR(5), departure_date DATE, seat_type VARCHAR(10),
FOREIGN KEY(customer_id) REFERENCES LOGIN_DETAILS(customer_id) ON DELETE CASCADE ON UPDATE CASCADE,
FOREIGN KEY(flight_id) REFERENCES FLIGHT_DETAILS(flight_id) ON DELETE CASCADE ON UPDATE CASCADE
FOREIGN KEY(seat_type) REFERENCES SEATING_DETAILS(seat_type) ON DELETE CASCADE ON UPDATE CASCADE);
''')
conn.commit()
print("BOOKING_DETAILS Table created.");

BOOKING_DETAILS Table created.

In [ ]:
conn.execute('''
CREATE TABLE PASSENGER_DETAILS(passenger_id CHAR(5) NOT NULL PRIMARY KEY, passenger_name VARCHAR(25), passenger_age INTEGER, customer_id CHAR(5), booking_id CHAR(5), 
FOREIGN KEY(customer_id) REFERENCES LOGIN_DETAILS(customer_id) ON DELETE CASCADE ON UPDATE CASCADE, FOREIGN KEY(booking_id) REFERENCES BOOKING_DETAILS(booking_id) ON DELETE CASCADE ON UPDATE CASCADE);
''')
conn.commit()
print("PASSENGER_DETAILS Table created.");

PASSENGER_DETAILS Table created.

In [ ]:
conn.execute('''INSERT INTO FLIGHT_DETAILS VALUES("AI001", "Air India", "Kolkata", "Chennai", 120, "14:10:00", "15:20:00", 4500.00, 22000.00);''')
conn.execute('''INSERT INTO FLIGHT_DETAILS VALUES("AI005", "Air India", "New Delhi", "Bengaluru", 110, "15:20:00", "18:20:00", 3200.00, 15000.00);''')
conn.execute('''INSERT INTO FLIGHT_DETAILS VALUES("IN002", "Indigo", "Kolkata", "Mumbai", 90, "09:30:00", "11:20:00", 6300.00, 32500.00);''')
conn.execute('''INSERT INTO FLIGHT_DETAILS VALUES("IN007", "Indigo", "Lucknow", "New Delhi", 150, "19:10:00", "21:20:00", 2500.00, 12000.00);''')
conn.execute('''INSERT INTO FLIGHT_DETAILS VALUES("SJ003", "SpiceJet", "Chennai", "Hyderabad", 220, "21:10:00", "23:50:00", 6700.00, 45000.00);''')
conn.execute('''INSERT INTO FLIGHT_DETAILS VALUES("AA013", "Air Asia", "Bengaluru", "Jaipur", 80, "12:10:00", "14:25:00", 2200.00, 11200.00);''')
conn.execute('''INSERT INTO FLIGHT_DETAILS VALUES("AA008", "Air Asia", "Mumbai", "Chennai", 250, "06:10:00", "08:50:00", 3500.00, 16500.00);''')

In [ ]:
conn.execute('''INSERT INTO AIRPORT_DETAILS VALUES("B02", "Bengaluru", "AA013");''')
conn.execute('''INSERT INTO AIRPORT_DETAILS VALUES("B02", "Bengaluru", "AI005");''')
conn.execute('''INSERT INTO AIRPORT_DETAILS VALUES("C12", "Chennai", "AI001");''')
conn.execute('''INSERT INTO AIRPORT_DETAILS VALUES("C12", "Chennai", "SJ003");''')
conn.execute('''INSERT INTO AIRPORT_DETAILS VALUES("C12", "Chennai", "AA008");''')
conn.execute('''INSERT INTO AIRPORT_DETAILS VALUES("L07", "Lucknow", "IN007");''')
conn.execute('''INSERT INTO AIRPORT_DETAILS VALUES("M04", "Mumbai", "IN002");''')
conn.execute('''INSERT INTO AIRPORT_DETAILS VALUES("M04", "Mumbai", "AA008");''')
conn.execute('''INSERT INTO AIRPORT_DETAILS VALUES("K11", "Kolkata", "AI001");''')
conn.execute('''INSERT INTO AIRPORT_DETAILS VALUES("K11", "Kolkata", "IN002");''')
conn.execute('''INSERT INTO AIRPORT_DETAILS VALUES("H20", "Hyderabad", "SJ003");''')
conn.execute('''INSERT INTO AIRPORT_DETAILS VALUES("N11", "New Delhi", "AI005");''')
conn.execute('''INSERT INTO AIRPORT_DETAILS VALUES("N11", "New Delhi", "IN007");''')
conn.execute('''INSERT INTO AIRPORT_DETAILS VALUES("J13", "Jaipur", "AA013");''')

In [ ]:
conn.execute('''INSERT INTO LOGIN_DETAILS VALUES("AP001", "Anouska", "9000000002", "abc1!");''')
conn.execute('''INSERT INTO LOGIN_DETAILS VALUES("AP002", "Ajay", "9000000021", "wow2!");''')
conn.execute('''INSERT INTO LOGIN_DETAILS VALUES("AP003", "Suchi", "9000000023", "$324r");''')
conn.execute('''INSERT INTO LOGIN_DETAILS VALUES("AP004", "Natasha", "9000000089", "zyd2");''')
conn.execute('''INSERT INTO LOGIN_DETAILS VALUES("AP005", "Sophia", "9000000077", "lucky1!");''')
conn.execute('''INSERT INTO LOGIN_DETAILS VALUES("AP006", "Sanjay", "9000000035", "colour231");''')
conn.execute('''INSERT INTO LOGIN_DETAILS VALUES("AP007", "Aman", "9000000098", "swpe12!");''')

In [ ]:
conn.execute('''INSERT INTO BOOKING_DETAILS VALUES("BI001", "2022-01-22", "AP001", 2, "AI005", "2022-02-25", "Economy");''')
conn.execute('''INSERT INTO BOOKING_DETAILS VALUES("BI002", "2022-01-20", "AP002", 3, "IN002", "2022-02-18", "Business");''')
conn.execute('''INSERT INTO BOOKING_DETAILS VALUES("BI003", "2022-01-18", "AP005", 1, "AI005", "2022-02-27", "Economy");''')
conn.execute('''INSERT INTO BOOKING_DETAILS VALUES("BI004", "2022-01-30", "AP004", 1, "AI005", "2022-03-25", "Economy");''')
conn.execute('''INSERT INTO BOOKING_DETAILS VALUES("BI005", "2022-02-03", "AP003", 1, "AI005", "2022-02-25", "Business");''')

In [ ]:
conn.execute('''INSERT INTO PASSENGER_DETAILS VALUES("PI001", "Anouska", 18, "AP001", "BI001");''')
conn.execute('''INSERT INTO PASSENGER_DETAILS VALUES("PI002", "Vatsal", 50, "AP001", "BI001");''')
conn.execute('''INSERT INTO PASSENGER_DETAILS VALUES("PI003", "Ajay", 24, "AP002", "BI002");''')
conn.execute('''INSERT INTO PASSENGER_DETAILS VALUES("PI004", "Asha", 30, "AP002", "BI002");''')
conn.execute('''INSERT INTO PASSENGER_DETAILS VALUES("PI005", "Ishan", 25, "AP002", "BI002");''')
conn.execute('''INSERT INTO PASSENGER_DETAILS VALUES("PI006", "Sophia", 67, "AP005", "BI003");''')
conn.execute('''INSERT INTO PASSENGER_DETAILS VALUES("PI007", "Natasha", 56, "AP004", "BI004");''')
conn.execute('''INSERT INTO PASSENGER_DETAILS VALUES("PI008", "Suchi", 25, "AP003", "BI005");''')

In [ ]:
conn.execute('''INSERT INTO SEATING_DETAILS VALUES("Business", "35kgs", 1200.00, "Yes");''')
conn.execute('''INSERT INTO SEATING_DETAILS VALUES("Economy", "15kgs", 1500.00, "No");''')

In [ ]:
print("1. Enter values to a table\n2. View a table")
choice=int(input("Enter your choice(1/2): "))
if choice==1:
  print('''Which table?\n1. FLIGHT_DETAILS\n2. AIRPORT_DETAILS\n3. LOGIN_DETAILS
  4. PASSENGER_DETAILS\n5. BOOKING_DETAILS\n6. SEATING_DETAILS
  ''')
  ch=int(input("Enter the table number: "))
  if ch==1:
    flight_id=input("Enter flight ID: ")
    airline=input("Enter airline: ")
    from_location=input("Enter departure city: ")
    to_location=input("Enter arrival city: ")
    capacity=int(input("Enter flight capacity: "))
    departure_time=input("Enter departure time(HH:MM:SS): ")
    arrival_time=input("Enter arrival time(HH:MM:SS): ")
    economy_price=float(input("Enter economy class price: "))
    business_price=float(input("Enter business class price: "))
    conn.execute('''INSERT INTO FLIGHT_DETAILS VALUES(?,?,?,?,?,?,?,?,?)''', (flight_id, airline, from_location, to_location, capacity, departure_time, arrival_time, economy_price, business_price))
  
  elif ch==2:
    airport_id=input("Enter airport ID: ")
    aiport_location=input("Enter airport location: ")
    flight_id=input("Enter flight ID: ")
    conn.execute('''INSERT INTO AIRPORT_DETAILS VALUES(?,?,?)''', (airport_id, aiport_location, flight_id))
  elif ch==3:
    customer_id=input("Enter customer ID: ")
    customer_name=input("Enter customer name: ")

    customer_phone=input("Enter customer phone number: ")
    customer_password=input("Enter customer password: ")
    conn.execute('''INSERT INTO LOGIN_DETAILS VALUES(?,?,?,?)''', (customer_id, customer_name, customer_phone, customer_password))

  elif ch==4:
    passenger_id=input("Enter passenger ID: ")
    passenger_name=input("Enter passenger ID: ")
    passenger_age=input("Enter passenger age: ")
    customer_id=input("Enter customer ID: ")
    booking_id=input("Enter booking ID: ")
    conn.execute('''INSERT INTO PASSENGER_DETAILS VALUES(?,?,?,?,?)''', (passenger_id, passenger_name, passenger_age, customer_id, booking_id))

  elif ch==5:
    booking_id=input("Enter booking ID: ")
    booking_date=input("Enter booking date: ")
    customer_id=input("Enter customer ID: ")
    passenger_count=input("Enter number of passengers: ")
    flight_id=input("Enter flight ID: ")
    departure_date=input("Enter departure date(YYYY-MM-DD): ")
    seat_type=input("Enter seat type(Economy/Business): ")
    meal_provided=input("Enter if meal needed: ")
    conn.execute('''INSERT INTO BOOKING_DETAILS VALUES(?,?,?,?,?,?,?,?)''', (booking_id, booking_date, customer_id, passenger_count, flight_id, departure_date, seat_type, meal_provided))

  elif ch==6:
    seat_type=input("Enter seat type: ")
    luggage_limit=input("Enter luggage limit: ")
    cancellation_charge=float(input("Enter cancellation charge: "))
    meal_type=input("Enter flight ID: ")
    conn.execute('''INSERT INTO PASSENGER_DETAILS VALUES(?,?,?,?)''', (seat_type, luggage_limit, cancellation_charge, meal_type))

  else:
    print("Invalid Input")

elif choice==2:
  print('''Which table?\n1. FLIGHT_DETAILS\n2. AIRPORT_DETAILS\n3. LOGIN_DETAILS
  4. PASSENGER_DETAILS\n5. BOOKING_DETAILS\n6. SEATING_DETAILS
  ''')
  ch=int(input("Enter the table number: "))
  if ch==1:
    cursor= conn.execute("SELECT * FROM FLIGHT_DETAILS")
    for row in cursor:
      print(row)
  elif ch==2:
    cursor= conn.execute("SELECT * FROM AIRPORT_DETAILS")
    for row in cursor:
      print(row)
  elif ch==3:
    cursor= conn.execute("SELECT * FROM LOGIN_DETAILS")
    for row in cursor:
      print(row)
  elif ch==4:
    cursor= conn.execute("SELECT * FROM PASSENGER_DETAILS")
    for row in cursor:
      print(row)
  elif ch==5:
    cursor= conn.execute("SELECT * FROM BOOKING_DETAILS")
    for row in cursor:
      print(row)
  elif ch==6:
    cursor= conn.execute("SELECT * FROM SEATING_DETAILS")
    for row in cursor:
      print(row)
  else:
    print("Invalid Input")
else:
  print("Not a valid CHOICE")

1. Enter values to a table
2. View a table
Enter your choice(1/2): 2
Which table?
1. FLIGHT_DETAILS
2. AIRPORT_DETAILS
3. LOGIN_DETAILS
  4. PASSENGER_DETAILS
5. BOOKING_DETAILS
6. SEATING_DETAILS

Enter the table number: 3
('AP001', 'Anouska', '9000000002', 'abc1!')
('AP002', 'Ajay', '9000000021', 'wow2!')
('AP003', 'Suchi', '9000000023', '$324r')
('AP004', 'Natasha', '9000000089', 'zyd2')
('AP005', 'Sophia', '9000000077', 'lucky1!')
('AP006', 'Sanjay', '9000000035', 'colour231')
('AP007', 'Aman', '9000000098', 'swpe12!')
('AP008', 'Ajay', '9090000002', 'ajayisthebest')

In [ ]:
print("View Details of your booking: ")
booking_id=input("Enter your booking ID: ")
cursor=conn.execute("""SELECT BOOKING_DETAILS.BOOKING_ID, BOOKING_DETAILS.BOOKING_DATE, BOOKING_DETAILS.CUSTOMER_ID, PASSENGER_DETAILS.PASSENGER_NAME, BOOKING_DETAILS.FLIGHT_ID, BOOKING_DETAILS.DEPARTURE_DATE 
FROM BOOKING_DETAILS,PASSENGER_DETAILS
WHERE BOOKING_DETAILS.BOOKING_ID=?
AND BOOKING_DETAILS.BOOKING_ID=PASSENGER_DETAILS.BOOKING_ID""",(booking_id,))
details=("Booking ID", "Booking Date", "Customer ID", "Passenger Name", "Flight ID", "Departure Date")
for row in cursor: 
  d=dict(zip(details,row))
  print(d)

View Details of your booking:
Enter your booking ID: BI003
{'Booking ID': 'BI003', 'Booking Date': '2022-01-18', 'Customer ID': 'AP005', 'Passenger Name': 'Sophia', 'Flight ID': 'AI005', 'Departure Date': '2022-02-27'}